
    body{
        margin: 0%;
        background: snow;
    }
    header h1 {
        text-align: center;
        margin-bottom: 50px;
    }

    header h4 {
        margin-bottom: 0px;
    }

    header {
        border-bottom: 1px solid black;
        margin-left: 150px;
        margin-right: 150px;;
    }

    section {
        display: grid;
        grid-template-rows: 800px;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 20px;
        margin-left: 150px;
        margin-right: 150px;
        padding-top: 20px;
    }

    footer {
        height: 300px;
        margin-left: 0%;
        background: white;
    }

    .status {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        border-right: 1px solid black;
    }

    .city {
        display: grid;
        grid-template-rows: 4fr 1fr;
    }

    .item {
        margin-top: 10px;
        margin-left: 50px;
        margin-right: 100px;
        padding-top: 20px;
        text-align: center;
        border-bottom: 1px solid black;
    }

    .sub {
        font-size: 20px;
    }

    .item:nth-child(1){
        color:red;
    }
    .item:nth-child(2){
        color:orange;
    }
    .item:nth-child(3){
        color:skyblue;
    }
    .item:nth-child(5){
        color:gray;
    }
    #decide, #exam, #clear, #death, #total{
        font-size: 25px;
    }
    #incDecide, #incExam, #incClear, #incDeath{
        font-size: 15px;
    }
    .city{
        margin-left: 150px;
    }
    .move{
        margin-top: 30px;
        margin-left: 70px;
        font-size: 30px;
    }
